AI AUTOMATION/Ecommerce AI AGENT.json
{
  "name": "Ecommerce AI AGENT",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -544,
        -112
      ],
      "id": "048ca2b1-6c0c-4964-a637-a8c376baca2d",
      "name": "When chat message received",
      "webhookId": "e1fa3e71-c4ec-46ba-8160-6db19ee7d7a0"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "yuwSOBqkoOjjrIRj",
          "mode": "list",
          "cachedResultName": "My Sub-Workflow 2",
          "cachedResultUrl": "/workflow/yuwSOBqkoOjjrIRj"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -32,
        0
      ],
      "id": "07d5be22-32cd-44a0-b678-ec93452c10e8",
      "name": "Call n8n Workflow Tool"
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -304,
        80
      ],
      "id": "c7e2d8e8-54fb-47c5-b2c7-0c93654ea6d4",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool to execute a SQL query on the e-commerce database in PostgreSQL to answer business and sales related questions across the customers, orders, order_items, products, events, sessions, and reviews tables. Input must be a valid PostgreSQL query string.",
        "operation": "executeQuery",
        "query": "{{ $json.sessionId }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        -160,
        80
      ],
      "id": "8175715f-adec-4e21-b0ee-c10ed96b9355",
      "name": "Execute a SQL query in Postgres",
      "credentials": {
        "postgres": {
          "id": "vk59TJfbqptOrZKA",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are an E-Commerce Data Analyst AI Agent. Convert user questions into PostgreSQL queries and return only plain English answers. Never show SQL in your response.\n\n## DATABASE TABLES\n\n- customers: customer_id, name, email, country, age, signup_date, marketing_opt_in\n- orders: order_id, customer_id, order_time, payment_method, discount_pct, subtotal_usd, total_usd, country, device, source\n- order_items: order_id, product_id, unit_price_usd, quantity, line_total_usd\n- products: product_id, category, name, price_usd, cost_usd, margin_usd\n- events: event_id, session_id, timestamp, event_type, product_id, qty, cart_size, payment, discount_pct, amount_usd\n- sessions: session_id, customer_id, start_time, device, source, country\n- reviews: review_id, order_id, product_id, rating, review_text, review_time\n\n## RULES\n1. Return only the plain English answer. No SQL. No headings.\n2. If question is vague, ask ONE clarifying question.\n3. If data is unavailable, say exactly: \"There is no available data to answer this particular question, but I can help you with the following details:\" then suggest 2-3 alternatives.\n4. Only use columns listed above. Never invent table or column names.\n5. For RFM: Recency = days since last order, Frequency = total orders, Monetary = total spend\n6. For LTV: total revenue per customer grouped by required dimension\n7. For Cohort: use DATE_TRUNC on order_time, group by first purchase month\n8. For Churn: no purchase in last 90 days\n9. For Trends: use DATE_TRUNC('month', order_time) with LAG() for month over month\n\nAlways write simple, concise SQL queries. Avoid complex CTEs when a simpler query can answer the question.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -336,
        -112
      ],
      "id": "d2060fb9-61c3-4f53-98b1-f6ddce7da0ca",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.1-70b-instruct",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -480,
        96
      ],
      "id": "1f7f0078-06fe-4f37-9c0b-66cabfb55798",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "qKoOC6PTFsIxeQGo",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call n8n Workflow Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query in Postgres": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d343e28b-3fcb-4fb3-9096-2d8bfb9eca6a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99f833ad2f1f6d2fe30529bb78b4f12388edb2b46dd5b65b5ffd46167420497b"
  },
  "id": "8aYXThlWz7AJ8Gnr",
  "tags": []
}